<style>
	h2{
		color: #DC3522;
		font-weight: bold;
		text-align: center;
	}
	.jumbotron{
		text-align: center !important;
	}
</style>
<% if !user_signed_in? %>
	<div class="jumbotron" >
		<h2>Your Favorite Movies on MoviesL4wL3sS </h2>
		<p>Wanna make this page great? sing up and post your comments! We care about your opinon.</p>
		<p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %></p>
	</div>
<% end %>

<%= render 'partials/searcher' %>

<%= render 'partials/trailers' %>

<%= render 'partials/top_movies' %>
<br>

