<style type="text/css">
  
</style>
<form class="navbar-form navbar-search" role="search">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search">    
    <div class="input-group-btn">            
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <li>
          <a href="#">
            <span class="label-icon">Search By Title</span>
          </a>
        </li>
        <li>
          <a href="#">
          <span class="label-icon">Search By Year</span>
          </a>
        </li>
      </ul>
    </div>
  </div>  
</form>   