<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.username %>!</h1>
    <p>Member since: <%= @user.created_at%></p>
    <p>If u wanna become a reviwer sen us an email to: support@moviesbio.com!</p>
  </body>
</html>