<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for buying, <%= @user.username %>!</h1>
    <p>Member since: <%= @user.created_at%></p>
    <p>The code of the mivie will be sen to your email: <%= @user.email %> SOON!</p>
  </body>
</html>