<h1>PaymentSelect#select_plan</h1>
<p>Find me in app/views/payment_select/select_plan.html.erb</p>
</p>

<%= link_to new_charge_path(@movie_id.id, tab: "onboarding") do %>
	<div class="row">
		<div class="col-md-6">
			<div class="container-fluid text-center" id="paymet-cont">
				<img class="img-responsive" src="http://res.cloudinary.com/lawless/image/upload/v1497898486/pop_qsvd5j.png" alt="buy-movie">
				<h3> Buy <%= @movie_id.name %> for: <%= @movie_id.price %></h3>
			</div>
		</div>			
		<div class="col-md-6">
			<div class="container-fluid text-center" id="paymet-cont">
				<img class="img-responsive" src="http://res.cloudinary.com/lawless/image/upload/v1497904785/sub_bya37x.jpg" alt="sub-img">
				<h2> SUBSCRIBE NOW</h2>
			</div>
		</div>	
	</div>

<% end %>

<!-- 
<%= debug params %>
 -->