<h2>Account Management</h2>
<div class="row">
	<div class="col-xs-12">
	  	<label for="name">Personal Information</label>
	  	<p>Edit personal information associated with your Rotten Tomatoes account.</p>
	  	<hr> 
	  	<label for="name">Change or Confirm Email Address</label>
	  	<p>Change or confirm your email address for your Rotten Tomatoes account.</p>
	  	<hr>
	  	<label for="name">Profile Display Name</label>
	  	<p>Edit your public profile display name.</p>
	  	<hr>
	  	<label for="name">Profile Details</label>
	  	<p>Edit public profile information about yourself.</p>
	  	<hr> 
	  	<label for="name">Email Preferences</label>
	  	<p>Modify your email subscription settings.</p>
	  	<hr>
	  	<label for="name">Password</label>
	  	<p>Change the password for your Rotten Tomatoes account.</p>
	  	<hr>
	  	<label for="name">Privacy Settings</label>
	  	<p>Manage your profile visibility and share settings.</p>
	  	<hr>
	  	<label for="name">Change Country</label>
	  	<p>Manage your localization setting.</p>
	  	<hr>
	  	<label for="name">Delete Account</label>
	  	<p>Terminate your Rotten Tomatoes account and disconnect from any attached social networks.</p>
	  	<hr>
	</div>
</div>